{{ define "home" }}
{{ template "head" . }}
<title>Mail Tester</title>
</head>

<body>
  <div class="header container">
    <div class="title">Mail Tester</div>
    <a class="clear-all">Clear all</a>
  </div>
  <div class="content container">
    <div class="emails">
      {{ range . }}
      <div class="email">
        <div class="id">
          {{ .ID }}
        </div>
        <div class="address">
          <div class="to">
            <span>T:</span> {{ .To }}
          </div>
          <div class="from">
            <span>F:</span> {{ .From }}
          </div>
        </div>
        <div class="subject">
          {{ .Subject }}
        </div>
        <a href="/mails/{{ .ID }}"></a>
      </div>
      {{ end }}
    </div>
  </div>
  <script>
    addDeleteEvent({
      selector: '.clear-all',
      endpoint: '/mails',
      message: 'Are you sure you want to clear all mail messages?',
      onComplete: function() { window.location.reload(); },
    });
  </script>
</body>

</html>
{{ end }}